
.app {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #787878;
}

form {
	padding: 0px 60px;
	border-radius: 10px;
}

h1 {
	color: blue;
	text-align: center;
}
button {
	width: 100%;
	height: 50px;
	padding: 10px;
	background-color: blue;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 30px
}
