.appCreateAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.appCreateAccount h1 {
  color: blue;
  text-align: center;
}

.logoCreateAccount {
  justify-content: top;
  align-items: center;
}

.appCreateAccount button:hover {
  transition: 0.2s;
  opacity: 0.85;
}

.logoCreateAccount,
.titleCreateAccount {
  color: #5ba3e4;
  font-family: Poppins;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.flexCreateAcc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-comp {
  text-align: center;
}

@media (max-width: 10000px) {

  .appCreateAccount button {
    background: #5ba3e4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 350px;
    height: 45px;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
  }

  .titleCreateAccount {
    font-weight: 800;
    font-size: 40px;
    padding: 0 0 20px 0;
  }

  .inputCreateAcc {
    font-family: "Poppins";
    padding: 15px;
    margin: 10px 0px;
    border: none;
    border-radius: 50px;
    width: 350px;
    height: 45px;
    padding-left: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.15s;
    margin-top: 20px;
  }

  .inputCreateAcc::-webkit-input-placeholder {
    font-size: 16px;
  }

  .btnCreateAcc {
    margin-top: 30px;
  }

  .loginDirect {
    font-family: "Poppins";
    color: rgb(70, 70, 70);
    font-size: 15px;
    margin-top: 0px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
  }

  .login-linkDirect {
    color: #0075ff;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins";
    line-height: 38px;
    text-decoration: none;
    padding-left: 5px;
  }
}

@media (max-width: 850px) {

  .appCreateAccount button {
    background: #5ba3e4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 300px;
    height: 44px;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
  }

  .titleCreateAccount {
    font-weight: 800;
    font-size: 37px;
    padding: 0 0 25px 0;
  }

  .inputCreateAcc {
    font-family: "Poppins";
    padding: 15px;
    margin: 20px 0px;
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 42px;
    padding-left: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.15s;
    margin-top: 20px;
  }

  .inputCreateAcc::-webkit-input-placeholder {
    font-size: 15px;
  }

  .btnCreateAcc {
    margin-top: 20px;
  }

  .loginDirect {
    font-family: "Poppins";
    color: rgb(70, 70, 70);
    font-size: 15px;
    margin-top: 0px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
  }

  .login-linkDirect {
    color: #0075ff;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins";
    line-height: 38px;
    text-decoration: none;
    padding-left: 5px;
  }
}

@media (max-width: 600px) {

.appCreateAccount button {
    background: #5ba3e4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 260px;
    height: 42px;
    border: none;
    color: #ffffff;
    font-size: 0.95rem;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
  }

  .titleCreateAccount {
    font-weight: 800;
    font-size: 34px;
    padding: 0 0 25px 0;
  }

  .inputCreateAcc {
    font-family: "Poppins";
    padding: 15px;
    margin: 23px 0px;
    border: none;
    border-radius: 50px;
    width: 260px;
    height: 42px;
    padding-left: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.15s;
    margin-top: 20px;
  }

  .inputCreateAcc::-webkit-input-placeholder {
    font-size: 13.5px;
  }

  .btnCreateAcc {
    margin-top: 23px;
  }

  .loginDirect {
    font-family: "Poppins";
    color: rgb(70, 70, 70);
    font-size: 13px;
    margin-top: 0px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
  }

  .login-linkDirect {
    color: #0075ff;
    font-size: 11.5px;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins";
    line-height: 38px;
    text-decoration: none;
    padding-left: 5px;
  }
} 

@media (max-width: 370px) {
.appCreateAccount button {
    background: #5ba3e4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 230px;
    height: 40px;
    border: none;
    color: #ffffff;
    font-size: 0.85rem;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
  }

  .titleCreateAccount {
    font-weight: 800;
    font-size: 30px;
    padding: 0 0 25px 0;
  }

  .inputCreateAcc {
    font-family: "Poppins";
    padding: 15px;
    margin: 23px 0px;
    border: none;
    border-radius: 50px;
    width: 230px;
    height: 40px;
    padding-left: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.15s;
    margin-top: 20px;
  }

  .inputCreateAcc::-webkit-input-placeholder {
    font-size: 12.3px;
  }

  .btnCreateAcc {
    margin-top: 23px;
  }

  .loginDirect {
    font-family: "Poppins";
    color: rgb(70, 70, 70);
    font-size: 11.5px;
    margin-top: 0px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
  }

  .login-linkDirect {
    color: #0075ff;
    font-size: 10.5px;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins";
    line-height: 38px;
    text-decoration: none;
    padding-left: 5px;
  }
}