.appCreateAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f5f5f5;
}

.logoCreateAccount {
  justify-content: top;
  align-items: center;
}

.appCreateAccount form {
  padding: 0px 60px;
  border-radius: 10px;
}

.appCreateAccount h1 {
  color: blue;
  text-align: center;
}
.appCreateAccount button {
  background: #5ba3e4;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
	width: 350px;
	height: 45px;
  border: none;
  color: #ffffff;
  font-size: 1.1rem;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}

.appCreateAccount button:hover {
	transition: 0.2s;
  opacity: 0.85;
}

.titleCreateAccount {
	padding: 0 0 20px 0;
}

.logoCreateAccount, .titleCreateAccount {
	color: #5ba3e4;
	font-family: Poppins;
}

.inputCreateAcc {
  font-family: "Poppins";
  padding: 15px;
  margin: 10px 0px;
  border: none;
  border-radius: 50px;
	width: 350px;
	height: 45px;
  padding-left: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.15s;
	margin-top: 20px;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.flexCreateAcc {
	display: flex;
  flex-direction: column;
}

.btnCreateAcc {
	margin-top: 30px;
}

span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.loginDirect {
	font-family: "Poppins";
	color: rgb(70, 70, 70);
	font-size: 15px;
	margin-top: 0px;
	margin-right: 10px;
	margin-top: 20px;
	text-align: center;
}

.login-linkDirect {
	color: #0075ff;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	font-family: "Poppins";
	line-height: 38px;
	text-decoration: none;
	padding-left: 5px;
}

.logo-comp {
	text-align: center;
}