.inputProps {
  font-family: "Poppins";
  padding: 15px;
  margin: 10px 0px;

  border: none;
  border-radius: 50px;
  width: 300px;
  height: 42px;
  padding-left: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.15s;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.formInput span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.formInput input:invalid ~ span {
  display: block;
}
