.login-page, .info {
    display: flex; 
    flex-direction: column;
}

.login-page, .login-button {
    font-family: "Poppins"; 
}

.login-page {
    color: #6AB1F0; 
    height: 100vh; 
    justify-content: top;
    align-items: center;
    margin-top: 7%; 
}

.title {
    font-weight: 800; 
    font-size: 55px; 
    margin-bottom: 85px;
}

.info {
    width: 30%; 
    row-gap: 47px; 
    margin-bottom: 47px; 
}

.login-button, .name, .pass {  
    border: none; 
    border-radius: 50px; 
}

.create-account, .name, .pass {
    font-size: 22px; 
}

.name, .pass {
    color: #787878; 
    height: 70px; 
    line-height: 41px; 
    padding-left: 55px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.15s; 
}

.name:hover, .pass:hover, .login-button:hover {
    opacity: 0.85; 
}

.name:active, .pass:active {
    border-style: hidden;
}

.name:focus, .pass:focus {
    outline: none; 
}

.login-button {
    background-color: #6AB1F0; 
    color: white; 
    height: 79px; 
    font-size: 28px;  
    transition: 0.25s; 
}

.login-button:active {
    opacity: 0.60; 
}

.create-account {
    color: black; 
    margin-top: -1%; 
}




