.login-page,
.info {
  display: flex;
  flex-direction: column;
}

.login-page,
.login-button {
  font-family: "Poppins";
}

.login-page {
  color: #6ab1f0;
  height: 100%;
  margin-top: 5%;
  justify-content: top;
  align-items: center;
}

.title {
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 40px;
}

.info {
  width: 27%;
  margin-bottom: 8px;
  row-gap: 32px;
}

.login-button,
.name,
.pass {
  border: none;
  border-radius: 50px;
}

.create-account,
.name,
.pass {
  font-size: 18px;
}

.name,
.pass {
  color: #787878;
  height: 50px;
  width: 100%;
  padding-left: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.15s;
}

.name:hover,
.pass:hover,
.login-button:hover {
  opacity: 0.85;
}

.name:active,
.pass:active {
  border-style: hidden;
}

.name:focus,
.pass:focus {
  outline: none;
}

.login-button {
  background-color: #6ab1f0;
  color: white;
  height: 55px;
  font-size: 22px;
  transition: 0.25s;
}

.login-button:active {
  opacity: 0.6;
}

.create-account {
  color: rgb(70, 70, 70);
  font-size: 15px;
  margin-top: 0px;
  margin-right: 10px;
}

.create-account-link {
  color: #0075ff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 38px;
  text-decoration: none; 
  /* identical to box height */
}

.create-account-link:hover {
  filter: brightness(130%);
}
