/* setting up the font and the display of the entire page */
.page {
  font-family: "Inter";
  height: 100vh;
  display: grid;
  grid-template-columns: 24% 76%;
}

/* all of the features that use a flexbox */
.add-friend,
.header,
.information,
.name-location,
.profile-pic, 
.message-input, 
.enter-button {
  display: flex;
}

.message-input,
.enter-button {
  justify-content: center;
}

.add-friend,
.friends div,
.header,
.information,
.name-location,
.message-input, 
.enter-button {
  align-items: center;
}

/* ===setting up the side=== */
.sidebar {
  background-color: #4f677d;
  color: white;
  font-size: 30px;
}

/* setting up the add feature */
.add-friend {
  height: 15.25%;
  border-bottom: 2px solid #cecece;
  justify-content: space-evenly;
}

.add-friend p {
  font-size: 28px;
}

.add-button {
  filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.15));
}

.add-button:hover,
.add-button:active,
.single-friend,
.donate,
.message-box,
.enter-button,
.friends::-webkit-scrollbar {
  transition: 0.2s;
}

.add-button:hover,
.donate:hover,
.message-box:hover,
.enter-button:hover,
.friends::-webkit-scrollbar-thumb:hover {
  opacity: 0.85;
}

.add-button:active,
.donate:active,
.message-box:active, 
.enter-button:active,
.friends::-webkit-scrollbar-thumb:active {
  opacity: 0.65;
}

/* setting up the part with all of the friends listed */
.friends {
  height: 84.75%; 
  overflow-y: auto; 
}

.friends::-webkit-scrollbar {
  width: 10px; 
}

.friends::-webkit-scrollbar-thumb {
  background-color: rgb(32, 50, 68); 
  border: none; 
  border-radius: 20px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); 
}

.friends::-webkit-scrollbar-track {
  background-color: #435463;
}

.enter-button {
  background-color: #5ba3e4;
  border-radius: 100px;
}


/* ===now the main part of the messages page=== */
.main {
  height: 97vh; 
}

/* this is on top of the messaging chat UI that displays
the name of the friend and a donation button */
.header {
  height: 15.75%; 
  border-bottom: 6px solid #dddddd;
  justify-content: space-between;
}

/* the profile picture and the text */
.information {
  margin-left: 4%;
  column-gap: 25px;
}

.name-location {
  flex-direction: column;
  line-height: 35px;
}

/* the specifications for the text */
.id {
  color: #797979;
  font-size: 32.5px;
}

.location {
  color: #a1a1a1;
  font-size: 20px;
}

.donate {
    background-color: #70D367; 
    color: white; 
    width: 220px; 
    height: 58px; 
    font-size: 25px; 
    font-family: "Poppins"; 
    border-style: none; 
    border-radius: 15px;
    margin-right: 12%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25); 
}

.messages-chat {
  height: 72.7%;
}

.message {
  margin-bottom: 5px; 
}

.message-input {
  height: 14.55%;
  margin-left: -4%;
  column-gap: 2%;
}

.message-box {
    background-color:#E8E8E8;
    color:#949494; 
    width: 70%;
    height: 50%; 
    font-size: 20px; 
    border: none; 
    border-radius: 30px;  
    vertical-align: middle; 
    padding-left: 4%; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.message-box:focus {
  outline: none;
}

.enter-button {
  width: 4%;
  height: 45%;
  display: flex;
  flex-direction: center;
}
