* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}


.page { 
    font-family: 'Inter'; 
    height: 100vh; 
    display: grid; 
    grid-template-columns: 1fr 3fr;
}

.side { 
    background-color:#4F677D;
    color: white;
    font-size: 30px; 
    display: flex;  
    flex-direction: column;
}

.add {
    border-bottom: 2px solid #CECECE; 
    flex: 1; 
    display: flex;  
    justify-content: center;
    align-items: center;
    column-gap: 34px;
}

.add img {
    width: 49px; 
    height: 37px; 
    object-fit: contain; 
}

/* .add img:active {

} */

.friends {
    flex: 7; 
    display: flex; 
    flex-direction: column; 
}

.friends div {
    display: flex; 
    justify-content: left; 
    align-items: center;
    column-gap: 25px; 
}

.single-friend {
    border-bottom: 1px solid white; 
    height: 143px; 
}

.profile-pic {
    background-color: #5BA3E4;
    border-radius: 50px;  
    height: 80px; 
    width: 83px;
    margin-left: 25px; 
}


