/* setting up the font and the display of the entire page */
.page {
  font-family: "Inter";
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
}

/* setting up the font and the display of the entire page */
.page {
  font-family: "Inter";
  height: 100vh;
  display: grid;
  grid-template-columns: 22% 78%;
}

/* all of the features that use a flexbox */
.sidebar,
.add-friend,
.friends,
.friends div,
.main,
.header,
.information,
.name-location,
.profile-pic {
  display: flex;
}

.sidebar,
.friends,
.main,
.name-location {
  flex-direction: column;
}

.add-friend,
.friends div,
.header,
.information,
.name-location {
  align-items: center;
}

/* ===setting up the side=== */
.sidebar {
  color: white;
  font-size: 30px;
  background-color: #4f677d;
}

.add-friend {
  flex: 1;
}

/* setting up the add feature */
.add-friend {
  border-bottom: 2px solid #cecece;
  justify-content: space-evenly;
}

.add-button {
  filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.15));
}

.add-button:hover,
.add-button:active,
.single-friend,
.donate,
.message-box,
.enter-button {
  transition: 0.2s;
}

.add-button:hover,
.donate:hover,
.message-box:hover,
.enter-button:hover {
  opacity: 0.85;
}

.add-button:active,
.donate:active,
.enter-button:active {
  opacity: 0.65;
}

/* setting up the part with all of the friends listed */
.friends {
  flex: 7;
}

/* the section for each single friend */
.single-friend {
    height: 16.67%; 
    border-bottom: 1px solid white; 
    column-gap: 6%; 
}

.single-friend:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.single-friend:active {
  background-color: rgba(0, 0, 0, 0.18);
}

.enter-button,
.profile-pic {
  background-color: #5ba3e4;
  border-radius: 100px;
}

.profile-pic {
  height: 80px;
  width: 83px;
  margin-left: 25px;
  justify-content: center;
  align-items: center;
}

/* ===now the main part of the messages page=== */

/* this is on top of the messaging chat UI that displays
the name of the friend and a donation button */
.header {
  border-bottom: 6px solid #dddddd;
  justify-content: space-between;
  height: 12.75%;
}

/* the profile picture and the text */
.information {
  column-gap: 25px;
  margin-left: 3%;
}

.name-location {
  line-height: 40px;
}

/* the specifications for the text */
.id {
  color: #797979;
  font-size: 40px;
}

.location {
  color: #a1a1a1;
  font-size: 25px;
}

.donate {
    color: white; 
    background-color: #70D367; 
    border-style: none; 
    border-radius: 20px;
    font-family: "Poppins"; 
    font-size: 25px; 
    width: 250px; 
    height: 68px; 
    margin-right: 9%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25); 
}

.messages-chat {
  height: 72.7%;
}

.message-input {
  height: 14.55%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  margin-left: -4%;
}

.message-box {
    background-color:#E8E8E8;
    color:#949494; 
    width: 80%;
    height: 50%; 
    border: none; 
    border-radius: 30px;  
    font-size: 22px; 
    vertical-align: middle; 
    padding-left: 4%; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.message-box:focus {
  outline: none;
}

.enter-button {
  width: 4%;
  height: 45%;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}
