@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Poppins:wght@400;800&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}