.containerDonationBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 387px;
    height: 445px; */
    width: 430px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
}

.donationCloseButton {
    position: absolute;
    margin: 2% 0 0 87%; 
}

.btnCloseButton {
    border: none;
    color: #D2D2D2;
    background-color: white;
}

.btnCloseButton:hover {
    color: #878787;
    transition: 0.2s;
}

.donationHeading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 7%;
}

.donationMoneyIcon {
    position: absolute;
    margin: 9% 0 0 22%;
    color: #454545;
}

.donationClickAmount {
    padding: 10% 0 0 0;
}
/*
.donationAmount {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 70px;
} */

.amountInput {
    text-align: center;
    border: none;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 4rem;
    line-height: 70px;
    width: 40%;
    outline: none;
}

.amountInput::-webkit-outer-spin-button,
.amountInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.amountInput[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.amountBtn:hover {
    opacity: 0.3;
    transition: 0.2s;
}

.donationUSD {
    margin-top: 8%;
}

.textUSD {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    font-height: 1rem;
    color: #5887FF;
}

.donationClickNote {
    margin: 12% 0 0 0;
}

.clickNoteArea {
    border-style: solid none solid none;
    border-color: #EAEAEA;
    width: 85%;
    padding-bottom: 75px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 1.1rem;
    color: #747474;
    resize: none;
    outline: none;
}

.donationDonateButton {
    margin-top: 8%;
}

.donateButton {
    background-color: #70D367;
    width: 315px;
    height:45px;
    border-radius: 40px;
    border-style: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.35rem;
    line-height: 2rem;
}

.donateButton:hover {
    filter: brightness(110%);
    transition: 0.3s;
}

.amountInput:hover,
.donateButton:hover,
.btnCloseButton:hover {
    cursor:pointer;
}