.blue-msg, .grey-msg {
  max-width: 30%; 
  font-size: 20px;
  font-family: "Poppins";
  padding: 14px 14px 14px 14px;
}

.blue-msg {
  background-color: #5BA3E4;
  color: white;
  border-radius: 20px 20px 20px 0;
}

.grey-msg {
  background-color: #D8D8D8;
  color: black;
  border-radius: 20px 20px 0 20px;
  margin-right: 0; 
  margin-left: auto; 
}

.donate-msg {
  color: #20D111;
  font-size: medium;
  font-weight: bold;
}

.word {
  overflow-wrap: break-word; 
}



