.blue-msg, .grey-msg {
  max-width: 30%; 
  font-size: 20px;
  font-family: "Poppins";
  padding: 14px 14px 14px 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blue-msg {
  background-color: #5BA3E4;
  color: white;
  border-radius: 20px 20px 20px 0;
}

.grey-msg {
  background-color: #D8D8D8;
  color: black;
  border-radius: 20px 20px 0 20px;
  margin-right: 0; 
  margin-left: auto; 
}

.donate-msg {
  color: #20D111;
  font-size: medium;
  font-weight: bold;
}

.word {
  overflow-wrap: break-word; 
}

@media (max-width: 360px) and (max-height: 800px) {
  .blue-msg, .grey-msg {
    max-width: 60%;
    font-size: 11px;
    border-radius: 30px 30px 0px 30px;
  }
}


